#header {
  width: 100%;
  font-weight: 500;
  color: #1d1f36;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.83vw 13.54vw;
  z-index: 100;
  position: sticky;
  top: 0;

  .header__left {
    font-size: 1.25vw;
    display: flex;
    align-items: center;

    .logo {
      padding-right: 3.33vw;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .nav__left {
      display: flex;
      ul {
        display: flex;
        :nth-child(1) {
          padding-right: 2.08vw;
        }
        :nth-child(2) {
          padding-right: 2.08vw;
        }
      }
    }
  }
  .header__right {
    .nav__right {
      display: flex;
      align-items: center;
      .nav__right__left {
        font-size: 1vw;
        display: flex;
        padding-right: 4.17vw;
        :nth-child(1) {
          padding-right: 2.08vw;
        }
      }
      .nav__right__right {
        font-size: 0.9vw;
        display: flex;
        :nth-child(1) {
          padding-right: 1.25vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  #header {
    width: 100%;
    font-weight: 500;
    color: #1d1f36;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 260px;
    z-index: 100;
    position: sticky;
    top: 0;

    .header__left {
      font-size: 24px;
      display: flex;
      align-items: center;

      .logo {
        padding-right: 64px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .nav__left {
        display: flex;
        ul {
          display: flex;
          :nth-child(1) {
            padding-right: 40px;
          }
          :nth-child(2) {
            padding-right: 40px;
          }
        }
      }
    }
    .header__right {
      .nav__right {
        display: flex;
        align-items: center;
        .nav__right__left {
          font-size: 24px;
          display: flex;
          padding-right: 80px;
          :nth-child(1) {
            padding-right: 40px;
          }
        }
        .nav__right__right {
          font-size: 18px;
          display: flex;
          :nth-child(1) {
            padding-right: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    font-weight: 500;
    color: #1d1f36;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 260px;
    z-index: 100;
    position: sticky;
    top: 0;
    .logo {
      cursor: pointer;
    }
  }
  .header__logo2 {
    .logo {
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.34vw 2.08vw 7.29vw 2.08vw;
  }
}
