#header {
  width: 100%;
  font-weight: 500;
  color: #1d1f36;
  background: #ffffff80;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 10000;
  position: sticky;

  backdrop-filter: blur(40px);
  .header__left {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    .logo {
      padding-right: 64px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .nav__left {
      display: flex;
      ul {
        display: flex;
        :nth-child(1) {
          padding-right: 40px;
        }
        :nth-child(2) {
          padding-right: 40px;
        }
      }
    }
  }
  .header__right {
    .nav__right {
      display: flex;
      align-items: center;
      .nav__right__left {
        font-size: 2.4rem;
        display: flex;
        padding-right: 80px;
        :nth-child(1) {
          padding-right: 40px;
        }
      }
      .nav__right__right {
        font-size: 1.7rem;
        display: flex;
        :nth-child(1) {
          padding-right: 24px;
        }
      }
    }
  }
}
