#header {
  width: 100%;
  font-weight: 500;
  color: #1d1f36;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
  z-index: 2;
  position: sticky;
  top: 0;

  .header__left {
    font-size: 1.25vw;
    display: flex;
    align-items: center;

    .logo {
      padding-right: 3.33vw;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .nav__left {
      display: flex;
      ul {
        display: flex;
        :nth-child(1) {
          padding-right: 2.08vw;
        }
        :nth-child(2) {
          padding-right: 2.08vw;
        }
      }
    }
  }
  .header__right {
    .nav__right {
      display: flex;
      align-items: center;
      .nav__right__left {
        font-size: 1vw;
        display: flex;
        padding-right: 4.17vw;
        :nth-child(1) {
          padding-right: 2.08vw;
        }
      }
      .nav__right__right {
        font-size: 0.9vw;
        display: flex;
        :nth-child(1) {
          padding-right: 1.25vw;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    font-weight: 500;
    color: #1d1f36;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.34vw 2.08vw;
    z-index: 1;
    position: sticky;
    top: 0;

    .header__left {
      font-size: 1.25vw;
      display: flex;
      align-items: center;

      .logo {
        padding-right: 3.33vw;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
