.newsLetter {
  width: 100%;
  background: #162f8ae5;
  background-image: url(../../public/main/page6/newslatterimg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header__text {
    margin-top: 4.17vw;
    margin-left: 4.17vw;
    position: relative;
    h1 {
      font-weight: 700;
      font-size: 5vw;
      line-height: 120%;
      margin-bottom: 3.7vw;
      color: #ffffff;
    }
    .header__bg {
      z-index: 1;
      position: absolute;
      top: -60%;
      left: 12%;
      width: 40vw;
      height: 15.63vw;
      background: url(../../public/main/page6/newslatter.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .header__desc {
    margin-left: 4.17vw;
    margin-bottom: 7.19vw;
    p {
      width: 22.92vw;
      height: 8.75vw;
      font-weight: 300;
      font-size: 1.46vw;
      line-height: 150%;
      color: #ffffff;
    }
  }

  .inquiry__1 {
    margin-left: 4.17vw;
    .inquiry__2 {
      display: flex;
      flex-direction: column;
      &:nth-child(1) {
        margin-bottom: 2.08vw;
      }
      &:nth-child(2) {
        margin-bottom: 0.99vw;
      }
    }

    label {
      font-weight: 700;
      font-size: 1.25vw;
      line-height: 150%;
      margin-bottom: 0.42vw;
      color: #fff;
    }
    input {
      width: 16.67vw;
      margin-right: 2.08vw;
      border: none;
      background: inherit;
      border-bottom: 1px solid #dedede80;
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 150%;
      &::placeholder {
        color: #ffffffcc;
      }
    }
  }
  .btn {
    font-family: "Pretendard" !important;
    margin-top: 2.08vw;
    margin-left: 4.17vw;
    margin-bottom: 3.28vw;
    display: flex;
    align-items: center;
    background: #ffffff;
    width: 19.27vw;
    height: 5vw;
    box-shadow: 0px 12px 28px rgba(29, 31, 54, 0.12);
    .desc__btn {
      margin-left: 1.25vw;
      margin-right: 4.48vw;
      color: #1d1f36;
      font-weight: 700;
      font-size: 1.46vw;
      line-height: 128%;
    }
  }
}
