#banner {
  margin-top: -100px;
}
.swiper.swiper__banner {
  height: 102.4rem;
  position: relative;
  .desc {
    position: absolute;
    top: 0;
    z-index: 2;
    margin-left: 14.84vw;
    margin-top: 14.2rem;
    background: #ffffffe5;
    border-radius: 2%;
    padding-left: 8rem;
    padding-top: 12.4rem;
    padding-right: 11.2rem;

    h1 {
      font-weight: 700;
      font-size: 10.4rem;
    }
    p {
      margin-top: 2.4rem;
      margin-bottom: 16rem;
      font-weight: 500;
      font-size: 3.2rem;
    }
    .btn__top {
      display: flex;
      align-items: center;
      width: 36.9rem;
      background: #f6f6f6;
      margin-bottom: 1.6rem;
      border: 1px solid #e4e7eb;
      .red {
        width: 1.6rem;
        height: 8.5rem;
        background: red;
      }
      .shop {
        padding: 2.2rem 9.1rem 2.4rem 2.2rem;
        font-weight: 700;
        font-size: 2.8rem;
      }
    }
    .btn__bottom {
      display: flex;
      align-items: center;
      width: 36.9rem;
      background: #f6f6f6;
      border: 1px solid #e4e7eb;
      margin-bottom: 8rem;
      .black {
        width: 1.6rem;
        height: 8.5rem;
        background: black;
      }
      .inquery {
        padding: 2.2rem 10.8rem 2.4rem 2.2rem;
        font-weight: 700;
        font-size: 2.8rem;
      }
    }
  }
}
.swiper-slide.s1 {
  background: url(../../../public/main/banner/home_main_01.png) no-repeat
    center/ cover;
}
.swiper-slide.s2 {
  background: url(../../../public/main/banner/home_main_02.png) no-repeat
    center/ cover;
}
.swiper-slide.s3 {
  background: url(../../../public/main/banner/home_main_03.png) no-repeat center /
    cover;
}
.swiper-slide.s4 {
  background: url(../../../public/main/banner/home_main_04.png) no-repeat center /
    cover;
}
.swiper-slide.s5 {
  background: url(../../../public/main/banner/home_main_05.png) no-repeat center /
    cover;
}
