#banner {
  margin-top: -100px;
}
.swiper__banner {
  height: 102.4rem;
}
.swiper-slide.s1 {
  background: url(../../../public/main/banner/home_main_01.png) no-repeat
    center/ cover;
}
.swiper-slide.s2 {
  background: url(../../../public/main/banner/home_main_02.png) no-repeat
    center/ cover;
}
.swiper-slide.s3 {
  background: url(../../../public/main/banner/home_main_03.png) no-repeat center /
    cover;
}
.swiper-slide.s4 {
  background: url(../../../public/main/banner/home_main_04.png) no-repeat center /
    cover;
}
.swiper-slide.s5 {
  background: url(../../../public/main/banner/home_main_05.png) no-repeat center /
    cover;
}
.swiper-pagination {
  position: absolute;
  top: 25%;
  left: 0 !important;
  width: 100% !important;
  height: 0 !important;
  text-align: left !important;
  margin-left: 16%;
}
.swiper-pagination-bullet {
  margin-right: 16px !important;
  width: 4px !important;
  height: 4px !important;
  background: #343c67 !important;
}

.desc {
  position: absolute;
  z-index: 3;
  margin-left: 16%;
  margin-top: 27.2rem;
  h1 {
    font-weight: 700;
    font-size: 10.4rem;
  }
  p {
    margin-top: 2.2rem;
    margin-bottom: 9.5rem;
    font-weight: 500;
    font-size: 3.2rem;
  }
  .btn__top {
    display: flex;
    align-items: center;
    width: 36.9rem;
    background: #f6f6f6;
    margin-bottom: 1.6rem;
    border: 1px solid #e4e7eb;
    .red {
      width: 1.6rem;
      height: 8.4rem;
      background: red;
    }
    .shop {
      padding: 2.2rem 7.1rem 2.2rem 4rem;
      font-weight: 700;
      font-size: 2.8rem;
    }
  }
  .btn__bottom {
    display: flex;
    align-items: center;
    width: 36.9rem;
    background: #f6f6f6;
    border: 1px solid #e4e7eb;

    .black {
      width: 1.6rem;
      height: 8.4rem;
      background: black;
    }
    .inquery {
      padding: 2.2rem 8.5rem 2.2rem 4rem;
      font-weight: 700;
      font-size: 2.8rem;
    }
  }
}
