#page2 {
  margin-top: 4.17vw;
  display: flex;
  align-items: center;
  .page2__desc {
    width: 32%;
    margin-left: 2.08vw;
    div {
      display: flex;
      .black {
        width: 0.21vw;
        height: 3.07vw;
        background: #b86e64;
      }
      .page2__desc__span1 {
        width: 14.58vw;
        background-color: #fff6f4;
        padding: 0.63vw;
        font-weight: 500;
        font-size: 1.46vw;
        line-height: 128%;
        letter-spacing: -0.02em;
        color: #b86e64;
        margin-bottom: 0.83vw;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 2.5vw;
      line-height: 124%;
      color: #1a1a1a;
      margin-bottom: 1.46vw;
      em {
        font-size: 3.75vw;
      }
    }

    .page2__desc__p2 {
      font-weight: 500;
      font-size: 1.67vw;
      line-height: 140%;
      color: #1a1a1a;
      margin-bottom: 7.86vw;
    }
    .page2__btn {
      display: flex;
      align-items: center;
      background: #1d1f36;
      width: 16.67vw;
      height: 5vw;
      box-shadow: 0px 12px 28px rgba(29, 31, 54, 0.12);
      .page2__desc__btn {
        margin-right: 5.83vw;
        margin-left: 1.25vw;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.46vw;
        line-height: 128%;
      }
    }
  }
  .page2__img {
    margin-left: 13.54vw;
    width: 44.79vw;
    height: 28.13vw;
    background: #000;
    position: relative;
    overflow: hidden;
    .page2__img__bg {
      background: url(../../../public/main/page2/fx-5000.webp);
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .page2__desc__span2 {
    color: #1a1a1a80;
    font-weight: 400;
    font-size: 1.04vw;
    line-height: 140%;
    margin-bottom: 0.83vw;
  }
}

@media screen and (min-width: 1921px) {
  #page2 {
    margin-top: 80px;
    display: flex;
    .page2__desc {
      width: 32%;
      margin-left: 64px;
      div {
        .black {
          width: 4px;
          height: 59px;
          background: #b86e64;
        }
        .page2__desc__span1 {
          width: 280px;
          background-color: #fff6f4;
          padding: 12px;
          font-weight: 500;
          font-size: 28px;
          line-height: 128%;
          letter-spacing: -0.02em;
          color: #b86e64;
          margin-bottom: 16px;
        }
      }
      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 124%;
        color: #1a1a1a;
        margin-bottom: 21px;
        em {
          font-size: 72px;
        }
      }

      .page2__desc__p2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        color: #1a1a1a;
        margin-bottom: 151px;
      }
      .page2__btn {
        display: flex;
        align-items: center;
        background: #1d1f36;
        width: 320px;
        height: 96px;
        box-shadow: 0px 12px 28px rgba(29, 31, 54, 0.12);
        .page2__desc__btn {
          margin-right: 112px;
          margin-left: 24px;
          color: #ffffff;
          font-weight: 700;
          font-size: 28px;
          line-height: 128%;
        }
      }
    }
    .page2__img {
      margin-left: 260px;
      width: 860px;
      height: 540px;
      background: #000;
      position: relative;
      overflow: hidden;
      .page2__img__bg {
        background: url(../../../public/main/page2/fx-5000.webp);
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    .page2__desc__span2 {
      color: #1a1a1a80;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  #page2 {
    margin-top: 10.05vw;
    margin-bottom: 52.34vw;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    .page2__desc {
      width: 90%;
      margin-left: 3.13vw;
      .page2__desc__span1 {
        font-weight: 500;
        font-size: 4.17vw;
        line-height: 128%;
        letter-spacing: -0.02em;
        color: #1a1a1ab2;
      }
      h1 {
        font-weight: 700;
        font-size: 11.46vw;
        line-height: 124%;
        color: #1a1a1a;
        margin-bottom: 3.13vw;
      }

      .page2__desc__p2 {
        font-weight: 700;
        font-size: 5.21vw;
        line-height: 140%;
        color: #1a1a1a;
        margin-bottom: 5.21vw;
      }
      .page2__desc__span2 {
        bottom: -4%;
        margin-left: 3.13vw;
        left: 0;
        position: absolute;
        color: #1a1a1a80;
        font-weight: 400;
        font-size: 2.6vw;
        line-height: 140%;
      }
      .page2__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        background: #1d1f36;
        width: 45.31vw;
        height: 12.5vw;
        box-shadow: 0px 12px 28px rgba(29, 31, 54, 0.12);
        margin-bottom: 4.3vw;
        margin-right: 3.13vw;
        .page2__desc__btn {
          margin-right: 16.54vw;
          margin-left: 3.65vw;
          color: #ffffff;
          font-weight: 700;
          font-size: 3.65vw;
          line-height: 128%;
        }
      }
    }
    .page2__img {
      width: 72.66vw;
      height: 102.47vw;
      background: #000;
      position: relative;
      overflow: hidden;
      .page2__img__bg {
        background: url(../../../public/main/page2/fx-5000_768.webp);
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
