#me__page9 {
  z-index: -1;
  background-image: url(../../../public/me/page9/page8_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5.68vw;
  padding-left: 8.33vw;
  padding-right: 8.33vw;
  padding-bottom: 8.02vw;
  .me__page9__header {
    z-index: 1;
    position: relative;
    .me__page9__header__text {
      h1 {
        font-weight: 700;
        font-size: 4.58vw;
        line-height: 128%;
      }
      .me__page9__header__bg {
        z-index: -1;
        position: absolute;
        top: -3%;
        left: 3%;
        width: 49.48vw;
        height: 15.63vw;
        background: url(../../../public/me/page9/product.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .me__page9__cont {
    z-index: 2;
    background: #fff;
    margin-top: 4.17vw;
    padding-top: 2.5vw;
    padding-left: 2.5vw;
    width: 100%;
    display: flex;
    position: relative;
    .me__page9__cont__desc {
      .me__page9__cont__desc__li {
        width: 15.6vw;
        margin-bottom: 2.08vw;
        .black {
          margin-bottom: 0.42vw;
          width: 1.67vw;
          height: 0.26vw;
          background: #1a1a1acc;
        }
        h1 {
          font-weight: 700;
          font-size: 1.25vw;
          line-height: 150%;
          color: #1a1a1a;
          margin-bottom: 0.42vw;
        }
        p {
          font-weight: 400;
          font-size: 1.25vw;
          line-height: 150%;
          color: #1a1a1a;
          em {
            color: #acafb6;
          }
        }
      }
    }
    .me__page9__cont__images {
      top: -4%;
      left: 50%;
      position: absolute;
      img {
        width: 34.11vw !important;
        height: 45vw !important;
      }
    }
    .me__page9__cont__select {
      top: 0;
      right: 0;
      margin-right: 2.92vw;
      margin-top: 2.92vw;
      position: absolute;
      .me__page9__cont__select__btn {
        margin-bottom: 0.63vw;
        filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.1)) !important;
        img {
          width: 5vw !important;
          height: 5vw !important;
        }
      }
    }
  }
}
