.modeselctor__wrap {
  width: 15.9896vw;
  height: 25.4167vw;
  margin-right: 0.8333vw;
  border-radius: 8px;
  cursor: pointer;
}

.modeselctor__background {
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-color: #cccdce;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: var(--trasition-time);
}

.modeselctor__background:hover {
  background-color: #fff;
}

.modeselctor__background:hover .modeselctor__numbering__container {
  background-color: #55576f;
}

.modeselctor__background:hover .modeselctor__numbering {
  color: #fff;
}

.temp {
  background-color: pink;
}
.not {
  background-color: blue;
}

.modeselctor__text__container {
  width: 100%;

  display: flex;

  background-image: linear-gradient(#fff0 0%, #ffff 100%);
  backdrop-filter: blur(0.7px);
}

.modeselctor__numbering__container {
  border-radius: 50%;
  height: 3.3333vw;
  width: 3.3333vw;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1vw;
  margin-right: 0.8333vw;
  margin-left: 1.6667vw;
  transition: var(--trasition-time);
}

.modeselctor__numbering {
  border-radius: 50%;
  font-weight: 600;
  font-size: 2.0833vw;
  line-height: 144%;
  letter-spacing: -0.03em;
  color: #55576f;
  transition: var(--trasition-time);
  margin: 0;
}

.modeselctor__title {
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 132%;

  text-align: center;
  letter-spacing: -0.01em;
  color: #55576f;
}
